[Container]
Image=localhost/amv_aipf:latest
ContainerName=portfolio
PublishPort=5000:5000
Volume=%h/Projects/portfolio/instance:/app/instance
Environment=FLASK_APP=app.py
Environment=FLASK_ENV=production
Environment=SECRET_KEY=${SECRET_KEY}

[Service]
Restart=always
